html, body, .canvas-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
}

.canvas-wrapper {
    display: flex;
    background-color: black;
}

.dynamic-output {
    position: fixed;
    left: 20px;
    top: 20px;
    color: white;
}

#canvas {
    margin: auto;
    border: 1px dashed grey;
}