@font-face {
    font-family: 'Lato';
    src: url(http://caiyi.us/vault/fonts/Lato/Lato-Regular.ttf);
}


html {
    margin: 0;
    background-color: black;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #eee;
}

header {
    background-color: #222;
    margin-bottom: 100px;
}

header .container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

header .title {
    font-size: 1.5em;
}

a:link, a:visited {
    text-decoration: none;
    color: #ccc;
}

a:hover {
    color: #66ccff;
}

a:active {
    color: #66ccff;
}

a.btn {
    background: none;
    border: 1px solid #eee;
    border-radius: 8px;
    color: #eee;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 180px;
    cursor: pointer;
}

a.btn:hover {
    background-color: #222;
}

a.btn.disabled {
    cursor: not-allowed;
    border: 1px solid #888;
    color: #888;
}

a.btn.disabled:hover {
    background: none;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.sidebar-fixed {
    position: absolute;
    background-color: #111;
    left: 0;
    width: 200px;
    top: 50px;
    bottom: 0;
    padding: 40px 10px;
}

.sidebar-fixed .demo-section {
    margin-bottom: 30px;
}

.sidebar-fixed ul {
    list-style-type: none;
    padding: 0 0 0 10px;
}

.sidebar-fixed ul li {
    margin-bottom: 20px;
}

.main-fixed {
    position: absolute;
    left: 200px;
    right: 0;
    top: 50px;
    bottom: 0;
}

iframe {
    border: none;
    display: block;
    width: 100%;
    height: 100%;
}
