html {
    margin: 0;
    background-color: black;
    color: #eee;
    font-family: 'Oxygen', sans-serif;
}

body {
    margin: 0;
}

.container {
    width: 900px;
    margin: 0 auto;
}

s {
    color: #888;
}

canvas {
    border: 1px dashed grey;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-top: 0;
}

a.btn {
    background: none;
    border: 1px solid #eee;
    border-radius: 8px;
    color: #eee;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 180px;
    cursor: pointer;
}

a.btn:hover {
    background-color: #222;
}

a.btn.disabled {
    cursor: not-allowed;
    border: 1px solid #888;
    color: #888;
}

a.btn.disabled:hover {
    background: none;
}

.short-hr {
    width: 390px;
    border-top: 1px dashed grey;
}

.font-pixel {
    font-family: 'Press Start 2P', cursive;
}

code {
    background-color: #222;
    font-size: 18px;
}

code.no-bg {
    background: none;
}

.master-title-wrap {
    margin-bottom: 75px;
}

.master-title {
    font-size: 60px;
    margin-bottom: 0;
}

.master-title-sub {
    font-size: 20px;
    margin-bottom: 10px;
}

.banner-demo-wrap {
    position: relative;
    margin-bottom: 75px;
}

.banner-demo-wrap p img, .banner-demo-wrap p span {
    vertical-align: middle;
}

.banner-demo-wrap .in-canvas-display {
    position: absolute;
    font-family: monospace;
    left: 20px;
    bottom: 20px;
}

.features-wrap {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 75px;
}

.features-wrap .col {
    flex: 1;
    padding: 20px;
}

.content-wrap .paragraph {
    margin-bottom: 50px;
}

.content-wrap .button-row {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: #222;
    margin-bottom: 100px;
}

footer {
    background-color: #222;
    margin-top: 100px;
}