@font-face {
    font-family: 'Play';
    src: url(http://caiyi.us/vault/fonts/Play/Play-Regular.ttf);
}

@font-face {
    font-family: 'Press Start 2P';
    src: url(http://caiyi.us/vault/fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0;
}

body {
    font-family: 'Play', sans-serif;
    color: #eee;
    display: flex;
    flex-direction: column;
}

.wrapper {
    margin: auto;
    display: flex;
}

.main {

}

.side {
    box-sizing: border-box;
    padding-left: 30px;
    width: 210px;
}

.side h4, .side p, .side ul {
    margin-top: 0;
}

.side h4 {
    margin-bottom: 10px;
}

.game-stats {
    font-family: 'Press Start 2P', sans-serif;
}

.game-stats .game-over-display {
    visibility: hidden;
}

.game-stats.game-over .game-over-display {
    visibility: visible;
}

.game-stats .row {
    display: flex;
    justify-content: space-between;
}

.side ul {
    padding: 0;
    list-style: none;
}

.side ul.maps {
    padding: 0;
}

.side ul.maps li {
    display: inline-block;
    padding-bottom: 2px;
    margin-right: 5px;
    border-bottom: 1px dashed dimgray;
    cursor: pointer;
}

.side ul.maps li:hover {
    border-bottom: 1px dashed white;
}

.side ul.maps li.active {
    border-bottom: 1px dashed white;
}

#canvas {
    border: 1px dashed grey;
}

a {
    color: #9c4a00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
